body {
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20pt;
    font-weight: 300;
    margin: 2em;
}

p {
    margin: 0 0 .5em 0;
}

.landing-box {
    float: left;
    width: 100%;
}

.landing-box-visual {
    background: url('/static/img/iphone.jpeg') 50% 50% no-repeat;
    background-size: contain;
    display: inline-block;
    height: 780px;
    width: 60%
}

.landing-box-text {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.landing-box-title {
    font-size: 40px;
    margin: 4em 0 .5em 0;
}

.landing-box-note {
    font-size: 14pt;
}

.cta-button {
    background-color: rgb(35, 125, 195);
    transition: background-color 0.5s ease;
    color: #eee;
    display: inline-block;
    margin: 1em 0 1em -.5em;
    padding: .5em 1em;
    text-decoration: none;
}

.cta-button:hover {
    background-color: rgb(45, 155, 235);
    transition: background-color 0.5s ease;
}

.clear {
    clear: both;
}